/* FONT ROBOTO */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,300&display=swap");

:root {
  --dark-background-color: #1f2937;
  --light-blue-color: #3882f6;
  --quote-background-color: #e5e7eb;
}

/* Restart margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Applying font */
body {
  font-family: "Roboto", sans-serif;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Button */
button {
  font-family: inherit;
  background-color: var(--light-blue-color);
  color: white;
  padding: 6px 28px;
  border-radius: 5px;
  border: none;
}

/* Navbar */
nav {
  background-color: var(--dark-background-color);
  height: 80px;
}

.nav-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: white;
  height: inherit;
  gap: 16px;
}

nav p {
  font-weight: 300;
}

.header-logo {
  margin-right: auto;
  font-weight: 900;
}

/* Hero section */
.hero-section {
  color: white;
  background-color: var(--dark-background-color);
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}

.hero-left {
  width: 500px;
}

.hero-right {
  width: 500px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  font-size: 18px;
  color: #f9faf8;
  font-weight: 300;
  margin-right: 60px;
  margin-bottom: 12px;
}

img {
  width: 100%;
}

/* Info section */
.info-section {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-background-color);
  margin-bottom: 32px;
  text-align: center;
}

.info-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.info-block {
  max-width: 150px;
  text-align: center;
}

.blue-rounded-square {
  width: 150px;
  height: 150px;
  border: 4px blue solid;
  border-radius: 10px;
}

/* Quote Section */
.quote-section {
  background-color: var(--quote-background-color);
  height: 40vh;
  display: flex;
  align-items: center;
}

.quote-section .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote {
  font-size: 36px;
  font-style: italic;
  padding: 0 205px;
}

.author {
  font-weight: bold;
  margin-right: 225px;
  font-size: 18px;
}

/* CTA section */
.cta-section {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-container {
  background-color: var(--light-blue-color);
  width: 100%;
  border-radius: 10px;
  padding: 40px 120px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-container button {
  border: 1px white solid;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: var(--dark-background-color);
  color: white;
  text-align: center;
  padding: 30px 0;
}
